@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
 
  font-style: normal;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.navbar {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  background-color: rgb(138, 160, 160);
  position: relative;
  color: #fff;
}

.nav-links a {
  color: #fff;
}

/* LOGO */
.logos {
  top: 0;
  position: absolute;
  height: 5.5rem;
}

/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 5em;
  font-size: 20px;
  margin-right: 6rem;
}

.menu li:hover {
  background-color: #0506064a;
  border-radius: 5px;
  transition: 0.3s ease;
  color: black;
}

.menu li {
  padding: 5px 14px;
}

/* DROPDOWN MENU */

.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}
input[type="checkbox"] {
  display: none;
}
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }

  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }

  .dropdown li:hover {
    background-color: #4c9e9e;
  }
}
.first_section {
  padding: 3.5rem;
  display: flex;
  align-items: center;
}
.first_pera {
  text-align: center;
  padding: 5rem;
  color: #4c9e9e;
}
#h1_head {
  font-size: 4rem;
}
#p_head {
  font-size: 1.2rem;
}
#shape_33 {
  height: 38rem;
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
}
#masking {
  height: 20rem;
  top: 37.5%;
  margin-top: auto;
  left: 13.5%;
  position: absolute;
  z-index: 2;
  border-radius: 50%;
  border: 3px solid #4c9e9e7b;
}

.side_container {
  z-index: 5;
  height: 34rem;
  /* float: right; */
  top: 105%;
  position: absolute;
  right: 1px; /* Adjust as needed */
  transform: translateY(-50%);
}
.second_section {
  background-color: #4c9e9ec0;
  align-items: center;
  padding: 40px;
  color: #fff;
}
.second_pera {
  margin: 3rem;
}

#h2_head {
  text-align: center;
  font-size: 3rem;
}
#p2_head {
  text-align: center;
  font-size: 20px;
  padding-left: 15rem;
  padding-right: 15rem;
}
.class_img {
  align-items: center;
}
#imga {
  position: relative;
  z-index: 1;
  /* left: 6%; */
  padding: 0 59px;
}
#imgc {
  padding: 0 78.5px;
}
#img2 {
  position: absolute;
  height: 18rem;
  z-index: 2;
  left: 10%;
  top: 69rem;
}
#img3 {
  position: absolute;
  height: 18rem;
  z-index: 2;
  left: 39.6%;
  top: 69rem;
}
#img4 {
  position: absolute;
  height: 18rem;
  z-index: 2;
  right: 11%;
  top: 69rem;
}
.texts {
  overflow: hidden;
  display: flex;
  text-align: center;
}
.point1,
.point2,
.point3 {
  padding: 0 12px;
}

.stats-section {
  background: url('../../assets/place_your_image_here_dou.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 70px 80px;
  color: #3fb7a8; /* Text color matching your design */
}

.stats-section h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

.stats-section p {
  font-size: 1.2em;
  margin-bottom: 5em;
  max-width: 700px;
  margin: 0 auto 1.5em;
}

.stats-container {
  display: flex;
  justify-content: space-around;
  gap: 20px; /* Spacing between stat items */
}

.stat {
  text-align: center;
  flex: 1;
}

.stat-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid #3fb7a8;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: 0 auto 8rem;
  padding: 50px;
  background-color: rgba(255, 255, 255, 0); /* Light background */
}

.stat-circle span {
  font-size: 2em;
  color: #3fb7a8;
}

.stat p {
  font-size: 1em;
  text-align: justify;
}

/* Responsive design */
@media (max-width: 768px) {
  .stats-container {
    flex-direction: column;
    align-items: center;
  }

  .stat {
    margin-bottom: 20px;
  }
}
.container_image_sidebar {
  background-color: #3fb7a8;
  display: flex;
  /* position: absolute; */
}
.side_bar {
  color: #fff;
  padding: 10rem;
  margin-top: 25px;
}
.hover-btn {
  padding: 15px 30px;
  margin-top: 35px;
  font-size: 1.2em;
  font-weight: bold;
  color: #3fb7a8;
  background-color: #fff;
  border: 0.5px solid #3fb7a8;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.hover-btn:hover {
  background-color: #34948c9b;
  transform: scale(1.05);
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hover-btn:active {
  transform: scale(0.98);
}
.side_container2 {
  z-index: -1000;
  height: 44rem;
  /* float: right; */
  top: 205rem;
  position: absolute;
  right: 0px; /* Adjust as needed */
  transform: translateY(-50%);
}
.container_side_image {
  display: flex;
  padding: 0 10rem;
  margin-top: 7rem;
  z-index: 1;
}
.side_bar2 {
  margin-top: 10rem;
  padding-left: 8rem;
  color: #3fb7a8;
}
.pricing-section {
  text-align: center;
  background-color: #4fa3a5;
  justify-content: center;
  align-items: center;
  height: 80vb;
}
.header_1 {
  padding-top: 40px;
}
.pricing-section h1 {
  font-size: 2em;

  color: #fff;
  margin-bottom: 10px;
}

.pricing-section p {
  margin-bottom: 40px;
}

.pricing-cards {
  display: flex;
  justify-content: center;
  gap: 80px;
  color: #3fb7a8;
}

.pricing-card {
  background-color: #fff;
  border-radius: 8px;
  color: #3fb7a8;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.pricing-card:hover {
  transform: scale(1.05);
}

.pricing-card h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.pricing-card .price {
  font-size: 1.5em;
  margin-bottom: 30px;
  color: #3fb7a8;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
}

.pricing-card .icon {
  font-size: 2em;
  margin-bottom: 10px;
  color: #4fa3a5;
}

.pricing-card .description {
  font-size: 0.9em;
  margin-bottom: 20px;
}

.pricing-card button {
  background-color: #4fa3a5;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pricing-card button:hover {
  background-color: #3a8383;
}
.profile_sec {
  background: url("../../assets/place_your_image_here_dou.jpg") no-repeat center
    center;
  background-size: cover;
  padding: 70px 80px;
}
#mask1 {
  position: absolute;
  z-index: 2;
  left: 35.5%;
  padding: 0 59px;
  top: 271.5rem;
}

#mask2 {
  position: absolute;
  height: 25rem;
  z-index: 1;
  left: 36%;
  top: 269rem;
}
.profile_details_sec {
  position: block;
  text-align: center;
  padding-top: 25rem;

  color: #4fa3a5;
}
.details111 {
  padding: 100px 80px;
  background-color: #3a8383;
  color: #fff;
  align-items: center;
  text-align: center;
}
.containe222 {
  background-color: #fff;
  /* padding-top: 15px; */
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
}

.search-bar {
  /* flex: 1; */
  margin-top: 30px;
  padding: 15px 20px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 15px 15px 15px 15px;
}

.subscribe-btn {
  padding: 15px 20px;
  background-color: #fff;
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 15px 15px 15px 15px;
  font-size: 16px;
}
.footer {
position: relative;
 
  background:#f6f6f4 ;
}
.footer .footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 3.5rem;
  padding: 60px;
}
.footer-row .footer-col h4 {
  color: #4fa3a5;
  font-size: 1.8rem;
  font-weight: 400;
}
.footer-col .links {
  margin-top: 30px;
}
.footer-col .links li {
  list-style: none;
  margin-bottom: 10px;
}
.footer-col .links li a {
  text-decoration: none;
  color: #bfbfbf;
}
.footer-col .links li a:hover {
  color: black;
}
.footer-col p {
  margin: 20px 0;
  color: #bfbfbf;
  max-width:300px;
}

.footer-col input::placeholder {
  color: #ccc;
}

.footer-col form button:hover {
  background: #cecccc;
}
.footer-col .icons {
  /* display: flex; */
  font-size: 1.5rem;
  gap: 40px;
  padding: 5px;
  cursor: pointer;
  
} 

.footer-col .icons a {
  color: #afb6c7;
}
.footer-col .icons a:hover  {
  color: black;
}
